In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("advertising.csv")

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
from sklearn.model_selection import train_test_split

In [31]:
x = df[['TV','Radio','Newspaper']]
y = df["Sales"]

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=100)

In [33]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [34]:
print("Intercept: ", mlr.intercept_)

Intercept:  4.334595861728433

In [35]:
print("Coefficents: ", list(zip(x, mlr.coef_)))

Coefficents:  [('TV', 0.053829108667250075), ('Radio', 0.11001224388558055), ('Newspaper', 0.0062899501461303325)]

In [36]:
y_pred = mlr.predict(x_test)
print("Prediction for test set: {}".format(y_pred))

Prediction for test set: [ 9.35221067 20.96344625 16.48851064 20.10971005 21.67148354 16.16054424
 13.5618056  15.39338129 20.81980757 21.00537077 12.29451311 20.70848608
  8.17367308 16.82471534 10.48954832  9.99530649 16.34698901 14.5758119
 17.23065133 12.56890735 18.55715915 12.12402775 20.43312609 17.78017811
 16.73623408 21.60387629 20.13532087 10.82559967 19.12782848 14.84537816
 13.13597397  9.07757918 12.07834143 16.62824427  8.41792841 14.0456697
  9.92050209 14.26101605 16.76262961 17.17185467 18.88797595 15.50165469
 15.78688377 16.86266686 13.03405813 10.47673934 10.6141644  20.85264977
 10.1517568   6.88471443 17.88702583 18.16013938 12.55907083 16.28189561
 18.98024679 11.33714913  5.91026916 10.06159509 17.62383031 13.19628335]

In [37]:
mlr_dff = pd.DataFrame({"Actual Values": y_test, "Prediction Values": y_pred})
mlr_dff.head()

     Actual Values  Prediction Values
126            6.6           9.352211
104           20.7          20.963446
99            17.2          16.488511
92            19.4          20.109710
111           21.8          21.671484

In [40]:
from sklearn import metrics

meanSqrErr = metrics.mean_squared_error(y_test, y_pred)
print("R squared {:.2f}".format(mlr.score(x,y)*100))
print("Mean Squared Error:", meanSqrErr)

R squared 90.11
Mean Squared Error: 2.636076562328064